<!-- Container start -->
    <div class="frontContainer">

      <!-- Navigation Bar -->
      <div class="navBar">

          <!-- Left-side Menu options -->
          <div class="homeMenu">
                <span id = "home" class="homeNav">Home</span>
                <span id = "homeFAQ" class="homeNav">FAQ</span>
                <span href="" id = "homeTeam" class="homeNav">Team</span>
                <span id = "homeContact" class="homeNav">Contact</span>
          </div>
        
        <!-- Page Logo -->
        <div class="logoDiv">
          <span class="title">inTouch</span>
        </div>

        <!-- Right-side Menu options -->
        <div class="burgerDiv">
          
    
          <a class="navOpt map" 
            ><i class="navBtn">Navigate</i></a
          >
          <a data-target="slide-out" class="sidenav-trigger navOpt" 
            ><i class="navBtn profile">Profile</i></a
          >
          <a class="navOpt dashboard"
            ><i class="navBtn" >Dashboard</i></a
          >
          
          <a data-target="dropdown1" class="navOpt settings dropdown-trigger"
            ><i class="navBtn" >Settings</i></a
          ></li>
          
          <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul>
          
          <!-- Burger-menu button -->
          <img src="./assets/images/burgerblue.png" id="goto" class="navBtn"
          width="50px" height="50px" / data-state="still"
          data-open="./assets/images/burgeropen.gif"
          data-close="./assets/images/burgerclose.gif">
        </div>
      </div>
      <!-- Navigation Bar End -->

      <!-- Profile Side Nav -->
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="./assets/images/lensright1.png" height="100%" width="110%" />
            </div>
            <a href="#user"><img class="circle" src="./assets/images/userPics/catuser.jpg"/></a>
            <a href="#name"><span class="white-text name">Kat Poulos</span></a>
            <a href="#email"
              ><span class="white-text email">k.liapoulos@gmail.com</span></a
            >
          </div>
        </li>
        <li><a class="subheader">Parent Profile</a></li>
        <li><a class="waves-effect" href="#!">First Spot Link</a></li>
        <li><a class="waves-effect" href="#!">Second Spot Link</a></li>
        <li><a class="waves-effect" href="#!">Third Spot Link</a></li>
        <li><div class="divider"></div></li>
      </ul>
        
    <div class="faqDiv">
        <h1 class="faqTitle">How can we help you?</h1>
        
        <div class="searchDiv input-field">
                <i class="material-icons prefix">search</i>
                <input class="box" id="faqSearch" placeholder="Type keyword to find answers" type="search"/>
            </div>

            <div class="faqSuggest">
            <section >
                <h5>Frequently Asked Questions</h5>
                <ul>
                    <li class="faqfaq">General</li>
                    <li class="faqfaq">Account</li>
                    <li class="faqfaq">Web and Desktop</li>
                    <li class="faqfaq">Register and Sign in</li>
                </ul>
            </section>
        </div>
    </div>

                
</div>
<!-- Front-page Container End -->
            <!-- popup contact page -->
                <div class="slideContact">
                  <div class="contactWrap">
                      <a class="ctcClose">&times;</a>
                      <div class="greetDiv">
                        <h1 class="greeting">Let's keep <span class="intouch">inTouch!</span></h1>
                      </div>
                      <form class="fillup">
                            <input class="box" id="custName" placeholder="Name here...." type="text"/>
                            <input class="box" id="custEmail" placeholder="Email Address here...." type="text"/>
                            <br />
                            <label class="form">Message</label>
                            <br />
                            <textarea class="box" id="box3" placeholder="Type your message here..." onfocus="this.placeholder = ''"></textarea>
                            <br />  
                            <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <span class="sent"></span>
                            
                        </form>
                            <span id="ctc1" class="scontact" >
                            <h5>inTouch.com</h5>
                            Chicago, IL<br>
                            (773)555-5555<br><br>
                            inTouch@gmail.com
                            </span>
                  </div>
                  <div class="botfoot">
                    <div class="social">
                        <img
                          class="sclbtn"
                          id="git"
                          src="./assets/images/giticon.png"
                          width="30"
                          height="30"
                        />
                        <img
                          class="sclbtn"
                          id="insta"
                          src="./assets/images/instablack.png"
                          width="30"
                          height="30"
                        />
                        <img
                          class="sclbtn"
                          id="google"
                          src="./assets/images/gmail.png"
                          width="30"
                          height="31"
                        />
                      </div>
                      <span class="copyright">© 2019 Copyright: inTouch.com</span>
                     
                      <!-- Social Media buttons -->
                  
            </div>
                    
                  </div>