 <!-- Container start -->
    <div class="frontContainer">

      <!-- Navigation Bar -->
      <div class="navBar">

          <!-- Left-side Menu options -->
          <div class="homeMenu">
                <span id = "home" class="homeNav">Home</span>
                <span id = "homeFAQ" class="homeNav">FAQ</span>
                <span id = "homeTeam" class="homeNav">Team</span>
                <span id = "homeContact" class="homeNav">Contact</span>
          </div>
        
        <!-- Page Logo -->
        <div class="logoDiv">
          <span class="title">inTouch</span>
        </div>

        <!-- Right-side Menu options -->
       <div class="burgerDiv">
          
    
            <a class="navOpt map" 
              ><i class="navBtn">Navigate</i></a
            >
            <a data-target="slide-out" class="sidenav-trigger navOpt" 
              ><i class="navBtn profile">Profile</i></a
            >
            <a class="navOpt friends"
              ><i class="navBtn" >Friends</i></a
            >
            
            <a data-target="dropdown1" class="navOpt settings dropdown-trigger"
              ><i class="navBtn" >Settings</i></a
            ></li>
            
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
              </ul>
            
            <!-- Burger-menu button -->
            <img src="./assets/images/burgerblue.png" id="goto" class="navBtn"
            width="50px" height="50px" / data-state="still"
            data-open="./assets/images/burgeropen.gif"
            data-close="./assets/images/burgerclose.gif">
          </div>

    
      </div>
       
      <div class="leftText aboutDiv">
          <h1 class="name">Joey Lansangan</h1>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit molestias at pariatur explicabo excepturi error ullam, eveniet nisi. Facilis ratione officiis incidunt reiciendis nisi corporis vero! Sit, consectetur dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam natus voluptate laudantium assumenda illum reiciendis ex, itaque dicta molestias inventore impedit blanditiis rerum distinctio doloribus! Quibusdam deleniti dignissimos dolorem molestiae. lore</p>
          <span>Link up:</span>
          <div class="social">
              
                <img
                  class="sclbtn"
                  id="git"
                  src="./assets/images/icons/linkedin.png"
                  width="30"
                  height="30"
                />
                <img
                  class="sclbtn"
                  id="git"
                  src="./assets/images/giticon.png"
                  width="30"
                  height="30"
                />
                <img
                  class="sclbtn"
                  id="insta"
                  src="./assets/images/instablack.png"
                  width="30"
                  height="30"
                />
                <img
                  class="sclbtn"
                  id="google"
                  src="./assets/images/gmail.png"
                  width="30"
                  height=31"
                />
              </div>
        </div>
      <!-- Navigation Bar End -->
      <div class="profileOne">
          <img class="oneImg" src="./assets/images/team/samuraidad.png">
          <a id="downBtn" class="btn-floating pulse #263238 blue-grey darken-4"><i class="material-icons">keyboard_arrow_down
                </i></a>
          <!-- <img
          class="jumpbtn"
          id="down"
          src="./assets/images/icons/icondown.png"
          width="40"
          height="40"
        /> -->
      </div>
      <div class="rightText">
            <h1 class="name">Sung Lee</h1>
        <p class="about">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quasi repudiandae odio eveniet est facere earum laboriosam voluptas minus doloremque, dolores consequuntur recusandae. Recusandae eligendi, magnam dolor totam sint quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, veritatis maxime? Debitis obcaecati aliquid, quod eius dolore eaque. Similique debitis illo molestiae esse ipsa tempore tenetur facere reprehenderit porro perspiciatis?
        </p>
        <span>Link up:</span>
        <div class="social">
                <img
                class="sclbtn"
                id="git"
                src="./assets/images/icons/linkedin.png"
                width="30"
                height="30"
              />
                <img
                  class="sclbtn"
                  id="git"
                  src="./assets/images/giticon.png"
                  width="30"
                  height="30"
                />
                <img
                  class="sclbtn"
                  id="insta"
                  src="./assets/images/instablack.png"
                  width="30"
                  height="30"
                />
                <img
                  class="sclbtn"
                  id="google"
                  src="./assets/images/gmail.png"
                  width="30"
                  height=31"
                />
              </div>
              
        </div>
   
      </div>
    
    

                
</div>
<!-- Front-page Container End -->
           <!-- profile Two -->
            <div class="profileTwo">
                    <img class="twoImg" src="./assets/images/team/dualwieldgirl.png">
                    <div class="botText">
                            <h1 class="name">Kat Poulos</h1>
                            <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit molestias at pariatur explicabo excepturi error ullam, eveniet nisi. Facilis ratione officiis incidunt reiciendis nisi corporis vero! Sit, consectetur dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam natus voluptate laudantium assumenda illum reiciendis ex, itaque dicta molestias inventore impedit blanditiis rerum distinctio doloribus! Quibusdam deleniti dignissimos dolorem molestiae. lore</p>
                            <span>Link up:</span>
                            <div class="social">
                                    <img
                                    class="sclbtn"
                                    id="git"
                                    src="./assets/images/icons/linkedin.png"
                                    width="30"
                                    height="30"
                                  />
                                    <img
                                      class="sclbtn"
                                      id="git"
                                      src="./assets/images/giticon.png"
                                      width="30"
                                      height="30"
                                    />
                                    <img
                                      class="sclbtn"
                                      id="insta"
                                      src="./assets/images/instablack.png"
                                      width="30"
                                      height="30"
                                    />
                                    <img
                                      class="sclbtn"
                                      id="google"
                                      src="./assets/images/gmail.png"
                                      width="30"
                                      height=31"
                                    />
                                  </div>
                                  <h2 class="name slogan">Connecting. Caring. Lifestyle. Coding.</h2>
                        </div>
                        
                </div>
                 <!-- popup contact page -->
                <div class="slideContact">
                       
                  <div class="contactWrap">
                        <a id="upBtn" class="btn-floating pulse #263238 blue-grey darken-4"><i class="material-icons">keyboard_arrow_up
                            </i></a>
                        <a id="lowBtn" class="btn-floating pulse #263238 blue-grey darken-4"><i class="material-icons">keyboard_arrow_down
                            </i></a>
                      <div class="greetDiv">
                        <h1 class="greeting">Let's keep <span class="intouch">inTouch!</span></h1>
                      </div>
                      <form class="fillup">
                            <input class="box" id="custName" placeholder="Name here...." type="text"/>
                            <input class="box" id="custEmail" placeholder="Email Address here...." type="text"/>
                            <br />
                            <label class="form">Message</label>
                            <br />
                            <textarea class="box" id="box3" placeholder="Type your message here..." onfocus="this.placeholder = ''"></textarea>
                            <br />  
                            <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <span class="sent"></span>
                            
                        </form>
                            <span id="ctc1" class="scontact" >
                            <h5>inTouch.com</h5>
                            Chicago, IL<br>
                            (773)555-5555<br><br>
                            inTouch@gmail.com
                            </span>
                  </div>
                  <div class="botfoot">
                    <div class="social">
                        <img
                          class="sclbtn"
                          id="git"
                          src="./assets/images/giticon.png"
                          width="30"
                          height="30"
                        />
                        <img
                          class="sclbtn"
                          id="insta"
                          src="./assets/images/instablack.png"
                          width="30"
                          height="30"
                        />
                        <img
                          class="sclbtn"
                          id="google"
                          src="./assets/images/gmail.png"
                          width="30"
                          height=31"
                        />
                      </div>
                      <span class="copyright">© 2019 Copyright: inTouch.com</span>
                     
                      <!-- Social Media buttons -->
                  
            </div>
                    
                  </div>
                  
