html,
body {
  /* background-image: url(../images/chicagoneon.jpg);
  background-color: black; */

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.frontContainer {
  /* background-image: url(../images/lakemichigan.jpg); */
  background: whitesmoke;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100vh;
  /* min-height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "img card"
    "foot foot";
}

.logoDiv {
    margin: 5px;
    text-align: center;
    /* display: flex;
    align-items: flex-end; */
    /* justify-content: center; */
  }
.title {
  font-size: 250%;
  font-family: "Dancing Script", cursive;
  /* text-shadow: 4px 4px 8px rgb(132, 226, 255); */
}
.cardDiv{
    /* background: #31b6ab; */
    grid-area: card;
}

/* .cardLogo{
    height: 50%;
    width: 50%;
} */

.footer {
  /* align-items: center;
  display: flex; */
  /* justify-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "srch mid scl"
  "bot bot bot";
  margin-top: 5%;
  height: auto;
  grid-area: foot;
  background: #898991;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
}
.form-inline{
  margin-left: 3%;
  grid-area: srch;
}
.copyright {
  color: rgb(179, 179, 179);
  /* width: 100%; */
  margin-left: 1%;
  align-self: center;
  /* justify-self: center; */
  text-align: center;
  grid-area: copy;
}
.botfoot{
  background: #4f4f57;
  grid-area: bot;
}


/* bottom of container */
.slideContact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "greet greet greet close"
  "fill fill fill info";
  padding: 1% 3% 3% 3%;

}

.greetDiv {
  align-self: flex-start;
  grid-area: greet;
}
.intouch{
  font-family: "Dancing Script", cursive;
  margin-left: 1%;
}
.formFillup {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding: 5%;
    font-family: "Rokkitt", serif;
}
.contactFillup {
  margin: 5%;
  /* padding: 5%; */
  font-family: "Rokkitt", serif;
}
.termsDiv{
    padding-bottom: 2%;
    background: #ebebeb;
    text-align: center;
}
#box3{
  height: 100px;
}
.sendBtn{
  background: whitesmoke;
}
.sendBtn:hover{
  cursor: pointer;
}
.scontact {
  grid-area: info;
  /* margin-right: 5%; */
  align-self: center;
  justify-self: flex-end;
}
.ctcClose {
  grid-area: close;
  justify-self: end;
  font-size: 75px;
  color: black;
}
.ctcClose:hover{
  opacity: 0.4;
  cursor: pointer;
}
