html,
body {

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.frontContainer {
  /* background-image: url(../images/lakemichigan.jpg); */
  background: whitesmoke;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100vh;
  /* min-height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "slide card"
    "foot foot";
}

#imageDiv{
  margin: 15% 10% 15% 10%;
  grid-area: slide;
  box-shadow: 0px 0px 20px #656568;
}

.logoDiv {
    margin: 5px;
    text-align: center;
    /* display: flex;
    align-items: flex-end; */
    /* justify-content: center; */
  }
.title {
  font-size: 250%;
  font-family: "Dancing Script", cursive;
  /* text-shadow: 4px 4px 8px rgb(132, 226, 255); */
}
.cardDiv{
    /* background: #31b6ab; */
    grid-area: card;
}
.loginDiv {
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background: #ebebeb;
}
/* .cardLogo{
    height: 50%;
    width: 50%;
} */

.footer {
  /* align-items: center;
  display: flex; */
  /* justify-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "bot bot bot";
  margin-top: 1%;
  height: auto;
  grid-area: foot;
  background: #898991;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
}

.copyright {
  padding: 1%;
  /* grid-area: copy; */
  color: rgb(179, 179, 179);
  /* width: 100%; */
  margin-left: 1%;
  align-self: center;
  /* justify-self: center; */
  text-align: center;

}
#cardContact{
  /* padding: 1%; */
  color: rgb(0, 0, 0);
}
#cardContact:hover{
  cursor: pointer;
  color: rgb(0, 183, 255);
}
/* bottom of container */

.intouch{
  font-family: "Dancing Script", cursive;
  margin-left: 1%;
}
.formFillup {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding: 5%;
    font-family: "Rokkitt", serif;
}
.fillName{
  display: flex;
}

.termsDiv{
    padding-bottom: 2%;
    background: #ebebeb;
    text-align: center;
}

/* bottom of page */
/* slide contact page */

/* bottom of container */
.slideContact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "ctc"
  "cpy";
  /* padding: 1% 3% 3% 3%; */

}

.contactWrap{
  grid-area: ctc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "greet greet greet close"
  "fill fill fill info";
  padding: 1% 3% 3% 3%;
}
.greetDiv {
  align-self: flex-start;
  grid-area: greet;
}
.intouch{
  font-family: "Dancing Script", cursive;
  margin-left: 1%;
}
.fillup {
  grid-area: fill;
  font-family: "Rokkitt", serif;
}
#box3{
  height: 100px;
}
.sendBtn{
  background: whitesmoke;
}
.sendBtn:hover{
  cursor: pointer;
}
.scontact {
  grid-area: info;
  /* margin-right: 5%; */
  align-self: center;
  justify-self: flex-end;
}
.ctcClose {
  grid-area: close;
  justify-self: end;
  font-size: 75px;
  color: black;
}
.ctcClose:hover{
  opacity: 0.4;
  cursor: pointer;
}
.botfoot{
  background: #4f4f57;
  grid-area: cpy;
  display: flex;
  justify-content: space-between;
}
.time {
  float: right;
  margin-right: 1%;
  align-self: center;
  justify-self: flex-end;
  grid-area: time;
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
}
.social {
  padding: 5px;
  grid-area: scl;
}
.sclbtn:hover {
  /* filter: brightness(300%); */
  opacity: 0.4;
  cursor: pointer;
}
